
// $primary:              #44318D;
$primary:               #6235B1;
$secondary:            #BE99FF;
$body-bg:               #BE99FF;
// $body-bg:               #A4b3b6;
$enable-gradients: true;
$warning:                           #D83F87;
$jumbotron-bg:                      #BE99FF;
.object-fit_contain { object-fit: contain }
$link-hover-decoration:                  none;
$navbar-light-color:                #A4B3B6;
$navbar-light-hover-color:          #D83F87;

$navbar-light-active-color:         #BE99FF;

/* Header Parallax Element Style*/ 
.paral {
min-height: 600px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}

#home-icon {
    z-index: 1;
}

#home-text {
    z-index: 2;
}
/* Image for Parallax Section */ 

 
/* Add more images for more sections */

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
    margin-bottom: 0;
    // font-family: 'Hind', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.about {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}
@import "~bootstrap/scss/bootstrap";


