
$primary:               #d06fd0;
$secondary:             #29B7EE;
$body-bg:               rgb(154, 213, 236);
$enable-gradients: true;
$warning:               #E8AF10;
$jumbotron-bg:                      rgb(154, 213, 236);
.object-fit_contain { object-fit: contain }
$link-hover-decoration:                  none;
$navbar-light-color:                #29B7EE;
$navbar-light-hover-color:          #E8AF10;
$navbar-light-active-color:         #E8AF10;

/* Header Parallax Element Style*/ 
.paral {
min-height: 600px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}

#home-icon {
    z-index: 1;
}

#home-text {
    z-index: 2;
}
/* Image for Parallax Section */ 

 
/* Add more images for more sections */

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
    margin-bottom: 0;
    // font-family: 'Hind', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.about {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}
@import "~bootstrap/scss/bootstrap";


