$primary: #BE99FF;
$body-bg: white;
$jumbotron-bg: white;
$secondary: #6C2291;

// $primary:              #44318D;
// $primary:               #6235B1;
// $secondary:            #BE99FF;
// $body-bg:               #BE99FF;
// $body-bg:               #A4b3b6;
 $warning:                           #D83F87;
// $jumbotron-bg:                      #BE99FF;
.object-fit_contain { object-fit: contain }
$link-hover-decoration:                  none;
$navbar-light-color:                #A4B3B6;
$navbar-light-hover-color:          #D83F87;

$navbar-light-active-color:         #BE99FF;

/* Header Parallax Element Style*/ 
.paral {
min-height: 600px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}




/* Image for Parallax Section */ 

 
/* Add more images for more sections */

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
    margin-bottom: 0;
    // font-family: 'Hind', sans-serif;
    // 
    font-family: 'Work Sans', sans-serif;

}


.figcaption {
    font-family: 'Work Sans', sans-serif;

    
}
#home-card {
    border-radius: 0;
}

#about-card {
    border-radius: 0;
}

#denise-card {
    border-radius: 0;
}
.card-text {
    font-family: 'Work Sans', sans-serif;


}
.about {
font-family: 'Work Sans', sans-serif;

}


@import "~bootstrap/scss/bootstrap";
@include media-breakpoint-down(sm) {
  .jumbotron {
    font-size: 1.5rem;
  }
}
@include media-breakpoint-down(sm) {
  .card-text {
    font-size: 1.5rem;
  }
}


